.container-dashboard-background {
  background-color: #493aff;
  padding-left: 122px;
  padding-right: 122px;
  padding-top: 60px;
}

.title-dashboard {
  text-align: center;
}

.card-dashboard {
  background-color:#fff;
  border-radius: 10px;
  padding: 70px;
}

.card-trip-pricing {
  text-align: right;

}


.card-trip-infos p {
  margin-right: 44px!important;
}

.card-trip-infos2 p {
  margin-right: 0px!important;
}

.card-trip-infos10 {
padding-left: 30px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 35px;
  }

/* Validation */

.btn-card-dashboard {

}

.validation-dashboard {
  width: 235px;
  height: 66px;
  background-color: #493aff;
  color: #fff !important;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 25px;
}

/* cards */

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1);
  max-width: 410px;
  border-radius:10px;
  margin-left: 20px;

}

.cards-show {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip .card-trip-infos-update-delete {
  padding-left: 30px;
  padding-top: 25px;
  padding-right: 30px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.confirmed{
  color:rgb(58, 196, 58);
  padding: 10px;
}

.reject{
  color:red;
  padding: 10px;
}
