// Import page-specific CSS files here.
@import "home";

.notice {
  display: none;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

/* Centrer titre */
.text-center {
  display: flex;
  justify-content: center;
  margin: 50px;
}

/* Menu défilant */
.scrolling-wrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;

.menu-item {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
