.box-show {
  width: 1440px;
  height: 800px;
}

.box-show .group {
  width: 1444px;
  height: 800px;
  top: 0;
  left: 0;
}

.box-show .overlap-group {
  position: relative;
  width: 1440px;
  height: 800px;
}

.box-show .section-benefits {
    position: absolute;
    width: 100vw; /* Utilisez la largeur du viewport */
    height: 800px;
    top: 0;
    left: 0;
    background-color: #e5f2ff;
  }

.box-show .image {
  position: absolute;
  width: 540px;
  height: 550px;
  top: 139px;
  left: 735px;
}


.box-show .image {
  border-radius: 10px;
}

.box-show .button {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 8px 44px;
  position: absolute;
  top: 526px;
  left: 165px;
  background-color: var(--green);
  border-radius: 4px;
  all: unset;
  box-sizing: border-box;
}

.text-wrapper-show a {
    position: absolute;
    width: 235px;
    height: 66px;
    top: 386px;
    background-color: #493aff;
    color: #fff !important;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none!important;
    margin-top: 70px;
  }

  .text-wrapper-show a:hover {
  background-color: #02206d;
}

.box-show .text-left {
  position: absolute;
  width: 354px;
  height: 145px;
  top: 133px;
  left: 165px;
}

.box-show .subline {
  width: 350px;
  top: 120px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #493aff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22.8px;
  white-space: nowrap;
  margin-top: 64px;
}

.box-show .title-show {
  position: absolute;
  width: 350px;
  height: 105px;
  top: 0;
  left: 0;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 600;
  color: #02206D;
  font-size: 40px;
  letter-spacing: -0.9px;
  line-height: 46.6px;
}

.box-show .div {
  width: 439px;
  top: 302px;
  left: 166px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 60px;
}

.box-show .text-wrapper-2 {
  width: 430px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 800;
  color: #493aff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: 28.8px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.background-adress {
  background-color: #e5f2ff;
  padding-bottom: 30px;
  font-size: 20px;
  padding-top: 20px;
}

.text-adress-map {
  margin-top: 0!important;
  margin-bottom: 0!important;
  text-align:center;
}
