

<div class="container">
  <h1 class = "text-center mt-5 mb-5">Edit booking</h1>

  <div class="container">
    <h1> Edit Booking</h1>
    <%= simple_form_for [@booking] do |f| %>
      <%= f.input :status, collection: %w(confirmed refused waiting) %>
      <%= f.submit "Submit status", class: "btn-menu-login mt-3" %>
    <% end %>
  </div>
</div>
