<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>La <strong>location d'outils</strong> entre <strong>particuliers</strong>!</h1>
    <p>blablabla</p>
    <a class="btn btn-flat" href="#">Louer un outil pour bricoler</a>
    <a class="btn btn-flat" href="#">Mettre en location mes outils</a>
  </div>
</div>
<h1>Tools</h1>


<div class="cards">
<% @tools.each do |tool| %>
<div class="row align-items-center">
    <div class="col">
    <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
        <h2><%= link_to tool.name, tool_path(tool) %></h2>
        <p><%= tool.description %></p>
      </div>
       <h2 class="card-trip-pricing"><%= tool.price %>€</h2>
      </div>
  </div>
  </div>
</div>
     <% end %>
   </div>
