<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>La <strong>location d'outils</strong> entre <strong>particuliers</strong>!</h1>
    <p>blablabla</p>
    <a class="btn btn-flat" href="#">Louer un outil pour bricoler</a>
    <a class="btn btn-flat" href="#">Mettre en location mes outils</a>
  </div>
</div>
<h1>Tools</h1>
