.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
}

.btn-menu-login {
  color: #fff;
  background-color: #3865fd;
  padding: 13px 29px !important;
  border-radius: 50px !important;
  font-weight: lighter !important;
  transition: opacity 0.3s ease !important;
  text-decoration: none;
}

.btn-menu-login:hover {
  opacity: 0.7!important;
  text-decoration: none;
}

.nav-link {
  color: #001D6C;
}

.nav-link:hover {
  color: #3865FD;
}

.nav-link {
  margin-right: 25px;
}
