.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  margin-left: 100px;
}

.btn-menu-login {
  color: #fff;
  background-color: #493AFF;
  padding: 13px 29px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  text-decoration: none;
  margin-right: 100px;
  border:none;
}

.btn-menu-login:hover {
  background-color: #02206D;
  text-decoration: none;
}

.nav-link {
  color: #001D6C;
}

.nav-link:hover {
  color: #3865FD;
}

.nav-link {
  margin-right: 25px;
}

.nav-item .avatar {
  margin-right: 60px;
}
